{% extends "base.html" %}
{# this template is temporarily hacked for specific demoing use for giving Mark Surman a badge #}

{% block content %}
<h2>Congratulations {{ user.first_name }} {{ user.last_name }}</h2>

{% for badge in badges %}
<p>
  <strong>You have been awarded:</strong> <h1>{{ badge.title }}</h1>
  
  <a id="claim_{{ badge.id }}" href="#">Accept</a>
  <form id="claim_form_{{ badge.id }}" action="/badges/claim/" method="post">
    <input type="hidden" name="badge_id" value="{{ badge.id }}" />
  </form>
  <script type="text/javascript">
    $('#claim_{{ badge.id }}').click(function() {
        $('#claim_form_{{ badge.id }}').submit();
        return false;
    });
  </script>
</p>
{% endfor %}
  <script src="/media/hub/jschannel/src/jschannel.js"></script>
  <iframe id="hubIframe" src="http://localhost:8000/media/hub/hub.html"></iframe>



<!--
<h2>My Badges</h2>
<ul>
{% for claim in claimed %}
  <li>{{ claim.badge.title }} claimed on {{ claim.badge.timestamp }} (<a href="#" id="remove_{{ claim.id }}">Give Back</a>)</li>
  <form id="drop_claim_{{ claim.id }}" method="post" action="/badges/drop/">
    <input type="hidden" name="claim_id" value="{{ claim.id }}">
  </form>
  <script type="text/javascript">
    $('#remove_{{ claim.id }}').click(function() {
       $('#drop_claim_{{claim.id}}').submit();
       return false;
     });
  </script>
  <script>
    var hub = Channel.build({
      window: document.getElementById("hubIframe").contentWindow,
      origin: "*",
      scope: "hub"
    });

    badge = {{ claim.json|safe }};

    hub.call({
      method: "badge_put",
      params: badge,
      success: function(v) {
     }
   });
    </script>
{% endfor %}
</ul>
-->

{% endblock %}


