{% extends "base.html" %}
{# this template is temporarily hacked for specific demoing use for giving Mark Surman a badge #}

{% block content %}
<h2>Congratulations {{ user.first_name }} {{ user.last_name }}</h2>

{% for issue in issues %}
<p>


<h3>You have been awarded:</h3>
<br />

<div class='badge'>
    <div class='pic'>
        <img src='/media/images/openweb01.png' alt='badge' />
    </div>
    
    <div class='info'>
        <h3 class='title'>{{ issue.badge.title }}</h3>    
        <h4 class='issuer'><a href='#' title=''>Mozilla Drumbeat Festival 2010</a></h4>
    </div>
</div>
<br />

  <a id="claim_{{ issue.badge.id }}" href="#">Accept</a>
  <form id="claim_form_{{ issue.badge.id }}" action="{% url badges_claim %}" method="post">
    <input type="hidden" name="issue_id" value="{{ issue.id }}" />
  </form>
  <script type="text/javascript">
    $('#claim_{{ issue.badge.id }}').click(function() {
        $('#claim_form_{{ issue.badge.id }}').submit();
        return false;
    });
  </script>
</p>
{% endfor %}
  <script src="/media/hub/jschannel/src/jschannel.js"></script>
  <iframe id="hubIframe" src="http://localhost:5555/media/hub/hub.html"></iframe>



<h2>My Badges</h2>
<ul>
{% for claim in claimed %}
  <li>{{ claim.issue.badge.title }} claimed on {{ claim.timestamp }} (<a href="#" id="remove_{{ claim.id }}">Give Back</a>)</li>
  <form id="drop_claim_{{ claim.id }}" method="post" action="/badges/drop/">
    <input type="hidden" name="claim_id" value="{{ claim.id }}">
  </form>
  <script type="text/javascript">
    $('#remove_{{ claim.id }}').click(function() {
       $('#drop_claim_{{claim.id}}').submit();
       return false;
     });
  </script>
  <script>
    var hub = Channel.build({
      window: document.getElementById("hubIframe").contentWindow,
      origin: "*",
      scope: "hub"
    });

    badge = {{ claim.json|safe }};

    hub.call({
      method: "badge_put",
      params: badge,
      success: function(v) {
     }
   });
    </script>
{% endfor %}
</ul>

{% endblock %}


